@model TandooriRecipe.Models.RecipeModel

@{
    Layout = "_Layout";
}

@if (Model != null)
{
    <div class="card back">
         <div class="yellow"></div>
         <div class="top dots"></div>
        <div class="personal-info">
            <p class="display-2">@Model.Name</p>
            @* <p class="display-3">@Model.Author @Model.TimeRequired</p> *@
            @* <p class="lead">@Model.Ingredients</p> *@
            <p class="lead">@Model.Directions</p>
        </div>
        <div class="bottom dots"></div>
        <div class="pink"></div>
    </div>
}

